on: [pull_request]

jobs:
  assert-formatted:
    name: Assert that code has been linted and formatted before merging
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: ./.github/actions/setup-ios
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run swiftformat. Fail if any errors. 
        run: task format && git diff --exit-code
      - name: Run swiftlint. Fail if any errors. 
        run: task lint
