on: [pull_request]

jobs:
  assert-formatted:
    name: Assert that code has been linted and formatted before merging
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./.github/actions/setup-ios
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run swiftformat. Fail if any errors. 
        run: task format && git diff --exit-code
      - name: Run swiftlint. Fail if any errors. 
        run: task lint
